# Database
MYSQL_URL=jdbc:mysql://mysql:3306/learnSpring?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC&characterEncoding=UTF-8
MYSQL_USER=LearnSpring
MYSQL_PASSWORD=

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# SMTP (Google App Password)
MAIL_USERNAME=
MAIL_PASSWORD=

# AWS Credentials
AWS_ACCESS_KEY=
AWS_SECRET_KEY=

# Elasticsearch
ES_USERNAME=elastic
ES_PASSWORD=

# OAuth2 Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# OAuth2 GitHub
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
